:root {
    --body-width: 70%;
    --body-height: 60rem;
}

body {
    width: var(--body-width);
    height: var(--body-height);
    margin: 0 auto;
    background-color: aqua;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.block {
    border: 1px solid green;
}

#sidebar {
    background-color: blue;
}

#main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#main-heading {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#search {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

form {
    display: grid;
    width: 70%;
}

input {
    padding: 5px;
    border-radius: 15px;
}

#username-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#bell-icon,
#logo,
#username {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#greeting {
    display: grid;
    align-items: center;
    padding-left: 50px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

#new,
#upload,
#share {
    padding: 10px;
    border-radius: 25px;
    width: 70%;
}

#main-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.title {
    position: absolute;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 1px;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 90%;
    margin-top: 50px;

}

.project-block {
    width: 88%;
    height: 80%;
    padding: 10px;
    display: grid;
    grid-template-rows: 65% 35%;
}

.project-text {
    padding-left: 10px;
}

.project-title {
    margin-bottom: -2px;
}

.project-summary {
    margin-top: -2px;
}

.news {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.announcements,
.trending {
    height: 85%;
    width: 80%;
    margin: 0 auto;
    display: grid;
}

.announcements {
    grid-template-rows: repeat(3, 1fr);
}

.trending {
    grid-template-rows: repeat(4, 1fr);
}