:root {
    --body-width: 70%;
    --body-height: 58rem;
}

body {
    width: var(--body-width);
    height: var(--body-height);
    margin: 0 auto;
    background-color: aqua;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.block {
    border: 1px solid green;
}

#sidebar {
    background-color: blue;
}

#main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#main-heading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#search {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}